*.min.*
# Ignorar archivos y directorios comunes de sistemas operativos
.DS_Store
Thumbs.db

# Ignorar archivos y directorios comunes de entornos de desarrollo
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignorar archivos y directorios específicos de Node.js
node_modules/
npm-debug.log
yarn-error.log

# Ignorar archivos y directorios específicos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
VENV/

# Ignorar archivos y directorios específicos de Java
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
target/
build/

# Ignorar archivos y directorios específicos de .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.mdb
*.log

# Ignorar archivos y directorios específicos de otros lenguajes y herramientas
*.min.*
dist/
coverage/
*.log
*.bak
*.swp
*.tmp
*.temp

# Ignorar archivos y directorios específicos de Docker
Dockerfile
docker-compose.yml
.dockerignore

# Ignorar archivos y directorios específicos de IDEs
*.code-workspace
*.sublime-project
*.sublime-workspace

# Ignorar archivos y directorios específicos de configuración de Git
.git/
.gitignore
.gitattributes